body {
  /* Wrap around at a more comfortable reading width. */
  max-width: 72ch;

  /* Center page. */
  margin: auto;

  padding: 2ch;

  /* For reading text on a screen a sans-serif font is recommended. */
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: #a40000; /* Tango scarletred3 */
  background-color: #eeeeec; /* Tango aluminium1 */
  border-color: #555753; /* Tango aluminium5 */
  border-style: solid;
  border-radius: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

h2 {
  color: #ce5c00; /* Tango orange3 */
  background-color: #eeeeec; /* Tango aluminium1 */
  border-color: #f57900; /* Tango orange2 */
  border-width: medium;
  border-style: solid;
  border-radius: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

h3 {
  color: #4e9a06; /* Tango chameleon3 */
  border-bottom-color: #4e9a06; /* Tango chameleon3 */
  border-bottom-style: dotted;
  display: inline;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.1em;
}

p, li {
  line-height: 1.4;
}

/* Space out li elements (add margin _between_ elements). */
li:not(li:first-child) {
  margin-top: 0.8em;
}

a:link {
  color: #3465a4; /* Tango skyblue2 */
}

a:visited {
  color: #75507b; /* Tango plum2 */
}
