/* Basic tags */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #DDD;
/*  background-color: #729fcf;*/
}

a {
  text-decoration: none;
  color: #3465a4;
}

a:hover {
  border-bottom: 1px dotted;
}

/* FIXME: does it work as intended? */
a img, a:hover img {
  border: 0 none;
}

h2, h2 a {
  color: #cc0000;
  font-weight: bold;
  line-height: 150%;
  margin-top: 1em;
  margin-bottom: 0.1em;
}

p {
  margin-top : 0em;
  margin-bottom : 0.7em;
  vertical-align : middle;
}

pre {
  background: #797B76 none repeat scroll 0%;
  color: #FFFFFF;
  margin-bottom: 1em;
  padding: 0.5em;
}

ul > li {
  list-style-image: url(../images/bullet.gif);
  list-style-type: circle;
}

table.binaries {
  border:0pt none;
  margin-left:1.5em;
}

table.binaries td {
  padding-right:1em;
  padding-bottom:0.5em;
  text-align:left;
}

table.binaries tr {
  text-align:center;
  vertical-align:top;
}

/* container to push the footer to the bottom */

#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width : 45em;
  margin: 0 auto -2em; /* the bottom margin is the negative value of the footer's height */
  padding: 0;
  background-color: #FFFFFF;
  border-left: 1px solid #babdb6;
  border-right: 1px solid #babdb6;
}

/* header */

header {
  background: linear-gradient(#eeeeec, #ffffff); /* top to bottom */
  height: 120px;
}

header img {
  padding: 10px;
}

header h1 {
  display: inline;
  margin-left: 1em;
}

header * {
  vertical-align: middle;
}

h1, h3 {
  color: #4e4e4e;
}

/* navigation menu */

nav {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #cc0000;
/*  background-color: #729fcf; */
  border-top: 1px solid #a40000;
  border-bottom: 1px solid #a40000;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline;
  margin: 0 0 0 1em;
  padding: 0;
}

nav a {
  color: #FFF;
}

nav .current {
  font-weight: bold;
}

/* content */

main {
  height: 100%;
  margin: 0;
  padding: 1em 3.5em 4.5em 3.5em;
  line-height: 150%;
  text-align: justify;
}

main a {
  line-height: 150%;
  font-weight: bold;
}

/* screenshots table */

#screenshots {
  width: 100%;
}

#screenshots tr {
  vertical-align: bottom;
  text-align: center;
  font-size: 80%;
}

#screenshots tr td {
  padding: 0.5em;
}

#screenshots a:hover {
  border: 0;
}

/* footer */

footer {
  height: 2em;
  width: 45em;
  margin: 0 auto;
  padding-top: 0.5em;
  background-color: #cc0000;
  border-top: 1px solid #a40000;
  border-left: 1px solid #babdb6;
  border-right: 1px solid #babdb6;
}

footer p {
  margin: 0;
  padding: 0;
  border: 0;
  color: #FFFFFF;
  text-align: center;
  font-size: small;
}
