body {
  /* For the header bg color to reach the edges of the page. */
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;

  /* Be able to scroll down a bit more. */
  padding-bottom: 1em;

  /* For reading text on a screen a sans-serif font is recommended. */
  font-family: "Liberation Sans", Arial, sans-serif;
  font-size: 1.05em;
}

header {
  background-color: #eeeeec; /* Tango aluminium1 */
  border-bottom: medium solid #888a85; /* Tango aluminium4 */
}

#header-title {
  margin-bottom: 0.3em;
}

#header-title img {
  margin-right: 1em;
}

#header-title h1 {
  color: #555753; /* Tango aluminium5 */
  display: inline;
}

#header-title * {
  vertical-align: middle;
}

#header-title, #header-subtitle div, main {
  /* Wrap around at a more comfortable reading width. */
  max-width: 72ch;

  /* Center content. */
  margin-left: auto;
  margin-right: auto;
}

#header-subtitle h2 {
  color: #555753; /* Tango aluminium5 */
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

#header-subtitle {
  border-top: medium solid #888a85; /* Tango aluminium4 */
}

h3 {
  color: #4e9a06; /* Tango chameleon3 */
  /*color: #a40000;*/ /* Tango scarletred3 */
}

h4, h5, h6 {
  color: #555753; /* Tango aluminium5 */
}

p, li {
  line-height: 1.4;
}

/* Space out li elements (add margin _between_ elements). */
li:not(li:first-child) {
  margin-top: 0.8em;
}
