/* Basic tags */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #ddd;
/*  background-color: #729fcf;*/
}

h1, h3, h4, h5, h6 {
  color: #4e4e4e;
}

h2 {
  color: #c00;
  font-weight: bold;
  line-height: 150%;
  margin-top: 1em;
  margin-bottom: 0.1em;
}

a {
  text-decoration: none;
  color: #3465a4;
}

a:hover {
  border-bottom: 1px dotted;
}

main p {
  margin-top: 0em;
  margin-bottom: 0.7em;
  vertical-align: middle;
}

pre {
  background-color: #797b76;
  color: #fff;
  margin-bottom: 1em;
  padding: 0.5em;
}

main ul > li {
  list-style-image: url('/images/bullet.gif');
  list-style-type: circle;
}

/* container to push the footer to the bottom */

#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 45em;
  margin: 0 auto -2em; /* the bottom margin is the negative value of the footer's height */
  padding: 0;
  background-color: #fff;
  border-left: 1px solid #babdb6;
  border-right: 1px solid #babdb6;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;

  background: linear-gradient(#eeeeec, #fff); /* top to bottom */
}

header img {
  padding: 10px;
  margin-right: 2em;
}

/* navigation menu */

nav {
  padding: 0.5em;
  background-color: #c00;
  border-top: 1px solid #a40000;
  border-bottom: 1px solid #a40000;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  margin: 0;
  padding: 0;
}

/* Space out li elements (add margin _between_ elements). */
nav li:not(li:first-child) {
  margin-left: 1em;
}

nav a {
  color: #fff;
}

nav .current {
  font-weight: bold;
}

/* content */

main {
  height: 100%;
  margin: 0;
  padding: 1em 3.5em 4.5em 3.5em;
  line-height: 150%;
  text-align: justify;
}

main a {
  line-height: 150%;
  font-weight: bold;
}

/* footer */

footer {
  /* Center text vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2em;
  width: 45em;
  margin: 0 auto;
  background-color: #c00;
  border-top: 1px solid #a40000;
  border-left: 1px solid #babdb6;
  border-right: 1px solid #babdb6;
}

footer p {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: small;
}
